@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//   font-family: "Sofia Sans";
font-family: "Roboto";
}

.rounded-btn {
  border-radius: 10px !important;
}
.rounded-10 {
  border-radius: 10px !important;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}

.exo-2 {
  font-family: "Exo 2";
}
